body {
  color: #f5f5f5;
  background-color: #434343;
  border: 8px double #000000;
  text-align: center;
  margin: 10%;
  padding: 10px;
  list-style: circle inside;
  line-height: 1.5;
  overflow-wrap: anywhere;
  font-family: Verdana;
  font-size: 20px;
}
a {
  color: #f5f5f5;
}
h1 {
  font-size: 30px;
}
.nav
{
  margin: 5px;
  padding: 5px;
  border: 4px #000000;
}
