body {
  color: #f5f5f5;
  background-color: #434343;
  border: 8px double #000000;
  text-align: center;
  padding-left: 10%;
  list-style: circle inside;
  line-height: 1.5;
  overflow-wrap: anywhere;
  font-family: Verdana;
  font-size: 20px;
}
a {
  color: #f5f5f5;
}
h1 {
  font-size: 30px;
}
